body{ 
    background: url(https://images.unsplash.com/photo-1532210317995-cc56d90177d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
p,h2,h3{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.r{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  
}
div{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-shadow: 1px 1px grey;
}
.fill {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.submit {
    background-color: white;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    cursor: pointer;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.submit:hover{
    background-color: black;
    color: #FFEFD5;
}
a:link {
    color: black;
    text-decoration: none;
    background-color: white;
    border: none;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    margin: 2px 2px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:hover {
    background-color: black;
    color: white;
}
a:visited{
    color: slategray;
}